#body{
    
}

#title {
    background-color: #ff4c68;
    
}

h1{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 3.5rem !important;
    line-height: 1.5 !important;
    font-weight: 900 !important;
    color: white !important;
}


.container-fluid{
    padding-left: 0% !important;
    padding-right: 0% !important;
    padding: 3%;
    padding-bottom: 7% !important;
    padding-left: 15% !important;
    padding-right: 15% !important;
}

/* Navigation Bar */

.navbar{
    padding:0 0 4.5rem 0 !important;
}

.navbar-brand{
    font-family: "Ubuntu" !important ;
    font-size: 2.2rem !important;
    font-weight: bold !important;
}

.navitem{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 100 !important;
}

/* Download buttons */

.download-button{
    margin: 5% 3% 5% 0%;
}



/* Title image */

.title-image{
    width: 60% !important;
    transform: rotate(25deg);
    margin-left: 10%;
    position: absolute;
    
}


/* Features */
#features{
    display: inline-block !important;
    width: 100%;
    padding: 7% 15%;
    text-align: center;
    background-color: white;
    position: relative;
    
    
    
}
.feature{
    display: inline-block !important;
    margin: 5% auto;
    
}

.feature h3{
    font-family: "Montserrat" !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
}

.feature p{
    color: #8f8f8f;
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.fa-check-circle{
    color:#ef8172;
    font-size: 3rem;
    margin: 3% 0;
}

.fa-check-circle:hover{
    cursor: pointer;
    color: #ff4c68;
}

.fa-bullseye{
    color:#ef8172;
    font-size: 3rem;
    margin: 3% 0;
}

.fa-bullseye:hover{
    cursor: pointer;
    color: #ff4c68;
}

.fa-heart{
    color:#ef8172;
    font-size: 3rem;
    margin: 3% 0;
}

.fa-heart:hover{
    cursor: pointer;
    color: #ff4c68;
}

/* Testimonial section */

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: white;
}

#testimonials h2{
    width: 100%;
    margin: 0 auto;
    font-family: "Montserrat";
    line-height: 2;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}

/* Press section */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3% ;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing section */

#pricing{
    padding: 100px;
    text-align: center;
    
}

#pricing h2{
    font-family: "Montserrat";
}

#pricing h3{
    font-family: "Montserrat";
    font-size: 1.5rem;
}

.pricing-column{
    padding: 3% 2%;
}

@media (max-width: 1028px){
    .title-image{
        position: static;
        transform: rotate(0);
    }

    #title{
        text-align: center;
    }
}

/* Call to action section  */

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}

#cta h3{
    font-family: "Montserrat";
    color: white;
    font-size: 2.5rem;
    width: 60%;
    margin: 0 auto;
    
}

@media (max-width: 1028px){
    #cta h3{
        font-size:1.55rem;
    }

    
}

/* Footer section */

#footer{
    background-color: white;
    text-align: center;
    color: grey;
    line-height: 2;
}

.footer-div{
    padding-top: 70px;
    
}

.fa-twitter{
    margin: 0 0.5%;
}
.fa-twitter:hover{
    cursor: pointer;
    color: #55acee;
}

.fa-facebook{
    margin: 0 0.5%;
}

.fa-facebook:hover{
    cursor: pointer;
    color: #3b5999;
}

.fa-instagram{
    margin: 0 0.5%;
}

.fa-instagram:hover{
    cursor: pointer;
    color: #e4405f;
}
.fa-envelope{
    margin: 0 0.5%;
}

.fa-envelope:hover{
    cursor: pointer;
    color: #dd4b39;
}

#footer p:hover{
    cursor: pointer;
}
